%% Dependencies ===============================================================
{deps, [
]}. 

%% App =======================================================================

%% Compiler Options ===========================================================
{erl_opts, [debug_info,         % debug信息
            error_summary,      % 错误概要
            warn_export_all,   % export all视为警告
            warnings_as_errors, % 警告视为错误
            fail_on_warning,    % 编译时检查是否有warning，如果有将编译报错
            {outdir, "ebin"},   % 编译输出beam路径
            {i, "include"},     % 头文件路径
            {d, 'TEST'},        % TEST的debug宏
            {hipe, o3}         % Just-in-time compilation 即时编译优化
            ]}. 

%% Eunit Options ==============================================================
{cover_enabled, true}.          % 覆盖率
{cover_print_enabled, true}.    % 覆盖率输出
{eunit_opts, [verbose,
    {report, {eunit_surefire, [{dir, "."}]}}    % 报告输出路径
    ]}.
{eunit_compile_opts, []}.


%% Misc =======================================================================
{clean_files, [".eunit"]}.
