%% Dependencies ===============================================================
{deps, [
]}. 

%% App =======================================================================

%% Compiler Options ===========================================================
{erl_opts, [error_summary,      % 错误概要
            warnings_as_errors, % 警告视为错误
            fail_on_warning,    % 编译时检查是否有warning，如果有将编译报错
            {i, "include"},     % 头文件路径
            {outdir, ".eunit"}     % 头文件路径
            ]}. 

%% Eunit Options ==============================================================
{cover_enabled, true}.          % 覆盖率
{cover_print_enabled, true}.    % 覆盖率输出
{eunit_opts, [verbose,
    {report, {eunit_surefire, [{dir, "."}]}}    % 报告输出路径
    ]}.


%% Misc =======================================================================
{clean_files, [".eunit"]}.
